/*This is the login page css code where we style the login box like 
    1.Login box in center and the background in smooth blur
    2.and in login box backround sone randon=m colour
*/
*{
margin:0%;
padding:0%;
box-sizing:border-box;

}

html,body{
height:100%;
width:100%;
background: linear-gradient(135deg,rgb(220, 143, 48),rgb(239, 221, 221),#e206ff);
font-family: Arial, Helvetica, sans-serif;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
position: fixed;

}
.loginbox{
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 20px;
    background:rgb(255, 255, 255,0.2);
    text-align: center;
    box-shadow: 0 0 30px gray;
    backdrop-filter: blur(40px);
    border-radius: 10px;
    box-shadow: 0,0,0,0,0.25;
    align-items: center;
}

.loginbox input{
    width: 100%;
    padding: 15px;
    margin: 30px 0;
    border-radius: 10px;
    border: none;
    outline: none;
}

.loginbox button{
    width: 40%;
    padding: 12px;
    background-color: rgb(0, 12, 12);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: pointer;

}
/* From this code for signup part of wbsite */
.Signup{
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 30px;
    background:rgb(255, 255, 255,0.2);
    text-align: center;
    box-shadow: 0 0 30px gray;
    backdrop-filter: blur(40px);
    border-radius: 10px;
    box-shadow: 0,0,0,0,0.25;
    align-items: center;
}

.Signup input{
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 10px;
    border: none;
    outline: none;
}

.Signup button{
    width: 40%;
    padding: 12px;
    background-color: rgb(0, 12, 12);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: pointer;
}

.Signup p{

    width: 60%;
    padding: 12px;
    background-color: rgb(11, 0, 15);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: pointer;
    margin: 90px;
 
}
